Source: neuroslink-default-settings-open
Section: x11
Priority: optional
Maintainer: Tom Bruno <tbruno@neurostechnology.com>
Build-Depends: debhelper (>= 5.0.0), cdbs
Standards-Version: 3.7.3

Package: neuroslink-default-settings-open
Architecture: all 
Depends:
Recommends: gdm
Description: default settings for Neuros Link hardware with open drivers 
 Various preconfigured items for Neuros Link.
 This package will:
  * Set GDM to auto login to neurostv user
  * Used for installation of software with only open drivers
